@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  background-color: #000;
  max-width: 2560px;
  color: #fff;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}
.bx-check-double {
  font-size: 2.5rem;
  font-weight: 600;
  color: green;
}
/*-- Navigation*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  position: fixed;
  width: 100%;
  overflow: auto;
  padding: 5px 50px;
  z-index: 1;
}
.logo {
  font-size: 2.1rem;
  cursor: auto;
  font-weight: 500;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
.navbar ul li a:hover {
  color: cyan;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  background-color: #fff;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/*-------- Hero Section ------*/
.about_us_hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_us_hero > h1 {
  text-align: center;
  width: 800px;
  font-weight: 500;
  margin: 100px;
}
.about_us_hero h1 > span {
  font-weight: 700;
  color: cyan;
}
.second-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-header > h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5625rem;
  margin: 30px;
  width: 390px;
}
.second-header h3 > span {
  color: cyan;
}

/*------- Mission And Vision ------- */

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #000000;
  margin-bottom: 2rem;
}
.card h3 {
  margin-bottom: 2rem;
}
.card > div {
  padding: 2rem;
}

.card img {
  height: 400px;
}
.card:nth-child(even) img {
  order: 2;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 50px auto;
  background: url(./images/hd-wallpaper-3833039.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}
.cta > div {
  font-weight: 700;
  font-size: 1.29rem;
}
.cta .get-started {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: cornflowerblue;
  transition: 0.3s ease-in-out;
}
.cta .get-started:hover {
  background-color: rgb(30, 90, 129);
}
@media screen and (max-width: 600px) {
  .navbar ul li {
    display: block;
  }
  .about_us_hero h1 {
    font-size: 1.5626rem;
    width: 390px;
    font-weight: 500;
  }
  .second-header > h3 {
    font-size: 1.2rem;
  }
  .card {
    display: block;
  }
  .cta {
    display: block;
  }
  .cta > div {
    margin: 25px;
  }
}
@media screen and (max-width: 753px) {
  .cta {
    flex-direction: column;

    overflow: hidden;
  }
  .cta > div {
    font-size: 20px;
  }
  .cta .get-started {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .navlist {
    position: fixed;
    left: 100%;
    top: 3rem;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navlist.active {
    left: 0;
  }
  .navlist li {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .bar {
    background-color: #fff;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
